<div class="input-group mb-3">
    <input type="text" class="input-width" placeholder="Search Servers"
        @bind-value="serverFilter"
        @bind-value:event="oninput"
        aria-label="Search" aria-describedby="button-addon2" />
    <button class="btn btn-outline-secondary" type="button" id="button-search"
    @onclick="HandleSearch">
        Search
    </button>
</div>

@code {

    [Parameter]
    public EventCallback<string> SearchServerCallBack { get; set; }
    
    public string serverFilter = "";

    private void HandleSearch()
    {
        SearchServerCallBack.InvokeAsync(serverFilter);
    }

    public void ClearFilter()
    {
        serverFilter = string.Empty;
    }
}
