<div class="border-top">
    <div class="btn-group mt-2" role="group">
        <button type="submit" class="btn btn-primary mx-1" 
            @onclick="HandleButtonClick">@Button1
        </button>
        <a href="@Button2Ref" class="btn btn-dark">@Button2</a>
        
    </div>
    @ChildContent
</div>


@code {
    [Parameter]
    public string Button1 { get; set; } = "Save";

    [Parameter]
    public string Button2 { get; set; } = "Save";

    [Parameter]
    public string Button2Ref { get; set; } = "Save";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback OnButtonClick { get; set; }

    private async Task HandleButtonClick()
    {
        if (OnButtonClick.HasDelegate)
        {
            await OnButtonClick.InvokeAsync(null);
        }
    }
}

